/*----------------------------*\
	Header
\*----------------------------*/

header {
    background-color: #87cefa;
}

/*----------------------------*\
	        Body
\*----------------------------*/


.pagination {
    margin: auto;
}


/*----------------------------*\
	        About
\*----------------------------*/

#about-form {
    background-image: url(../img/fon-author.jpg) repeat-y;
}

#img-author {
    height: 30vh;
    width: auto;
}

.figure-caption {
    text-align: center;
}

#about-header h1 {
    margin: 40px;
    text-align: center;
}

#about-text {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%
}


#about-text .card .card-body li {
    list-style: none;
}

#about-text .card .card-body ul {
    list-style: none;
    padding-left: 10px;
}

#img-author-photo {
    height: 15vh;
    width: auto;
}

#author-task {
    color: #bbbdc9;
}

/*----------------------------*\
	        Technology
\*----------------------------*/

#tech-header h1 {
    text-align: center;
}

#tech-aside list-group {
    border: none;
}

#list-example {
    border: none;
}

.scrollspy-example {
    position: relative;
    height: 70vh;
    margin-top: 0.5rem;
    overflow: auto;
}

.low-margin {
    margin: 0px;
}

